name: CI

on:
  push:

  pull_request:

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  llvm:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/llvm.yml

  lint-stable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rust-src

      - name: Run clippy
        run: cargo clippy --features llvm-21,no-llvm-linking --all-targets --workspace -- --deny warnings

  lint-nightly:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, rust-src

      - name: Check formatting
        run: cargo fmt --all -- --check

  build:
    permissions:
      contents: read
      packages: read
    runs-on: ${{ matrix.platform.os }}
    container: ${{ matrix.platform.container }}
    # We work with two git repositories in this workflow:
    #
    # - bpf-linker
    # - aya (for integration tests)
    #
    # Cargo searches for `.cargo` directories recursively in all parent
    # directories. Therefore, nesting different Rust projects with their own
    # `.cargo/config.toml` files in the same hierarchy (one nested in another)
    # causes cargo to read and merge both configurations.
    #
    # To avoid that, we clone both repositories in separate directories inside
    # the workspace.
    defaults:
      run:
        working-directory: bpf-linker
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - rust: 1.90.0
            llvm: 20
            exclude-features: default,llvm-19,llvm-21,rust-llvm-19,rust-llvm-21
          - rust: stable
            llvm: 21
            exclude-features: default,llvm-19,llvm-20,rust-llvm-19,rust-llvm-20
          - rust: beta
            llvm: 21
            exclude-features: default,llvm-20,rust-llvm-20
          - rust: nightly
            llvm: 21
            exclude-features: llvm-20,rust-llvm-20
        platform:
          # Rust CI ships only one flavor of libLLVM, dynamic or static, per
          # target. Linux GNU targets come with dynamic ones. Apple and Linux
          # musl targets come with static ones.
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: macos-15-intel
            target: x86_64-apple-darwin
          # We don't use ubuntu-latest because we care about the apt packages available.
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-musl
            container: ghcr.io/vadorovsky/crossdev:llvm-x86_64-unknown-linux-musl
          - os: ubuntu-22.04-arm
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-22.04-arm
            target: aarch64-unknown-linux-musl
            container: ghcr.io/vadorovsky/crossdev:llvm-aarch64-unknown-linux-musl
    name: target=${{ matrix.platform.target }} rustc=${{ matrix.toolchain.rust }} llvm-version=${{ matrix.toolchain.llvm }}
    needs: llvm

    env:
      RUST_BACKTRACE: full
      # Features that have to be included for dynamic linking.
      LLVM_FEATURES_DYNAMIC: llvm-${{ matrix.toolchain.llvm }}
      # Features that have to be included for static linking.
      LLVM_FEATURES_STATIC: llvm-${{ matrix.toolchain.llvm }},llvm-link-static
      # Features that have to be excluded when running `cargo hack --feature-powerset`
      # and intending to link dynamically.
      LLVM_EXCLUDE_FEATURES_DYNAMIC: llvm-link-static,no-llvm-linking

    steps:
      - uses: actions/checkout@v6
        with:
          path: bpf-linker

      - name: Install Rust ${{ matrix.toolchain.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain.rust }}
          targets: ${{ matrix.platform.target }}
          components: rust-src

      - name: Add clang to PATH
        if: runner.os == 'Linux' && !matrix.platform.container
        # ubuntu-22.04 comes with clang 13-15[0]; support for signed and 64bit
        # enum values was added in clang 15[1] which isn't in `$PATH`.
        #
        # [0] https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
        #
        # [1] https://github.com/llvm/llvm-project/commit/dc1c43d
        run: echo /usr/lib/llvm-15/bin >> $GITHUB_PATH

      - name: Add clang to PATH
        # Gentoo comes with clang 21 as default.
        if: runner.os == 'Linux' && matrix.platform.container
        run: echo /usr/lib/llvm/21/bin >> $GITHUB_PATH

      - name: Enforce dynamic linking, set cargo runner
        if: ${{ endsWith(matrix.platform.target, 'musl') }}
        # Historically, Rust used to enforce static linkage of runtime
        # (`-C target-feature=+crt-static`) on all musl targets. Currently this
        # behavior is being phased out in favor of defaulting to dynamic
        # linking[0][1][2], but it's not yet consistently applied to all Rust
        # versions and all musl targets.
        #
        # We want dynamic linking to save space, especially during `cargo hack`
        # runs.
        #
        # We also need to use the musl dynamic linker from the sysroot, with
        # appropriate library paths, as a runner for tests.
        #
        # [0] https://github.com/rust-lang/compiler-team/issues/422
        # [1] https://github.com/rust-lang/rust/pull/133386
        # [2] https://github.com/rust-lang/rust/pull/144513
        run: |
          set -euxo pipefail

          echo "RUSTFLAGS=-C target-feature=-crt-static" >> $GITHUB_ENV

          sysroot="/usr/${{ matrix.platform.target }}"
          ld_musl="${sysroot}/lib/ld-musl-$(arch).so.1"
          library_paths=(
            "/lib"
            "/usr/lib"
            "/usr/lib64"
            "/usr/lib/llvm/21/lib"
          )
          library_paths=( "${library_paths[@]/#/$sysroot}" )
          IFS=:
          library_paths="${library_paths[*]}"
          unset IFS
          cat >> .cargo/config.toml <<EOF
          [target.${{ matrix.platform.target }}]
          runner = "${ld_musl} --library-path ${library_paths}"
          EOF

      - name: Check (default features, no system LLVM)
        run: cargo check --target "${{ matrix.platform.target }}"

      - name: Build (default features, no system LLVM)
        run: cargo build --target "${{ matrix.platform.target }}"

      - name: Install btfdump
        run: cargo install btfdump

      - uses: oras-project/setup-oras@v1

      - name: Login to ghcr.io
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euxo pipefail
          oras login ghcr.io --username "${{ github.actor }}" --password-stdin <<< "$GH_TOKEN"

      - name: Restore LLVM from ghcr.io
        run: |
          set -euxo pipefail
          oras pull "ghcr.io/${{ github.repository_owner }}/llvm:${{ matrix.toolchain.llvm }}-${{ matrix.platform.target }}"
          mkdir -p "$GITHUB_WORKSPACE/llvm-install"
          tar --zstd -xf llvm-install.tar.zst -C "$GITHUB_WORKSPACE/llvm-install"
          rm -f llvm-install.tar.zst
          echo "$GITHUB_WORKSPACE/llvm-install/bin" >> $GITHUB_PATH
          # {DYLIB,LD}_LIBRARY_PATH is needed because we're going to link everything dynamically below. This
          # doesn't affect behavior, but greatly reduces disk usage.
          if [[ "${{ runner.os }}" == "macOS" ]]; then
            dylib_env_prefix=DYLD
          else
            dylib_env_prefix=LD
          fi
          echo "${dylib_env_prefix}_LIBRARY_PATH=$GITHUB_WORKSPACE/llvm-install/lib" >> $GITHUB_ENV

      # llvm-sys discovers link flags at build script time; these are cached by cargo. The cached
      # flags may be incorrect when the cache is reused across LLVM versions.
      - name: Bust llvm-sys cache
        run: |
          set -euxo pipefail
          cargo clean -p llvm-sys
          cargo clean -p llvm-sys --release

      - run: cargo install cargo-hack

      - name: Check (dynamic linking, feature powerset)
        run: |
          cargo hack check --feature-powerset --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }} \
            --target "${{ matrix.platform.target }}"

      - name: Build (dynamic linking, feature powerset)
        run: |
          cargo hack build --feature-powerset --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }} \
            --target "${{ matrix.platform.target }}"

      # Toolchains provided by rustup include standard library artifacts
      # only for Tier 1 targets, which do not include BPF targets.
      #
      # The default workaround is to use the `rustc-build-sysroot` crate to
      # build a custom sysroot with the required BPF standard library before
      # running compiler tests.
      #
      # `RUSTC_BOOTSTRAP` is needed to use `rustc-build-sysroot` on stable Rust.
      - name: Test (sysroot built on demand, dynamic linking)
        run: |
          RUSTC_BOOTSTRAP=1 cargo hack test --feature-powerset \
            --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }} \
            --target "${{ matrix.platform.target }}"

      # To make things easier for package maintainers, the step of building a
      # custom sysroot can be skipped by setting the `BPFEL_SYSROOT_DIR`
      # environment variable to the path of the prebuilt BPF sysroot.
      #
      # Test this configuration by prebuilding the BPF standard library
      # manually.
      #
      # `RUSTC_BOOTSTRAP` is needed to make `xtask build-std` work on stable
      # Rust.
      - name: Build BPF standard library
        run: |
          set -euxo pipefail

          RUSTC_SRC="$(rustc --print sysroot)/lib/rustlib/src/rust/library"
          BPFEL_SYSROOT_DIR="$GITHUB_WORKSPACE/bpf-sysroot"
          RUSTC_BOOTSTRAP=1 cargo xtask build-std \
            --rustc-src "$RUSTC_SRC" \
            --sysroot-dir "$BPFEL_SYSROOT_DIR" \
            --target bpfel-unknown-none

      - name: Test (prebuilt BPF standard libary, dynamic linking)
        run: |
          BPFEL_SYSROOT_DIR="$GITHUB_WORKSPACE/bpf-sysroot" \
            cargo hack test --feature-powerset --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }} \
            --target "${{ matrix.platform.target }}"

      - uses: actions/checkout@v6
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        with:
          repository: aya-rs/aya
          path: aya
          submodules: recursive

      - name: Install
        if: runner.os == 'Linux' && !matrix.platform.container && matrix.toolchain.rust == 'nightly'
        run: |
          cargo install --path . --no-default-features --features \
            ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Run aya integration tests
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        working-directory: aya
        run: cargo xtask integration-test local

      - name: Install static libraries (macOS)
        if: runner.os == 'macOS'
        # macOS does not provide any static libraries. Homebrew does provide
        # them, but in custom paths that the system-wide clang is not aware of.
        # Point build.rs to them by setting environment variables.
        #
        # We install llvm package only for libc++.
        run: |
          set -euxo pipefail
          brew install llvm zlib zstd
          echo "CXXSTDLIB_PATH=$(brew --prefix llvm)/lib/c++" >> $GITHUB_ENV
          echo "ZLIB_PATH=$(brew --prefix zlib)/lib" >> $GITHUB_ENV
          echo "LIBZSTD_PATH=$(brew --prefix zstd)/lib" >> $GITHUB_ENV

      - name: Enforce static linking
        run: |
          echo "RUSTFLAGS=-C target-feature=+crt-static" >> $GITHUB_ENV

      - name: Check (static linking, single feature set)
        # Static linking in combination with `cargo hack --feature-powerset`
        # (multiple builds) increases the disk usage massively. Therefore we
        # perform all static builds with only one fixed feature set.
        run: |
          cargo check --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }} \
            --target "${{ matrix.platform.target }}"

      - name: Build (static linking, single feature set)
        run: |
          cargo build --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }} \
            --target "${{ matrix.platform.target }}"

      - name: Test (sysroot built on demand, static linking)
        run: |
          RUSTC_BOOTSTRAP=1 cargo test --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }} \
            --target "${{ matrix.platform.target }}"

      - name: Test (prebuilt BPF standard library, static linking)
        run: |
          BPFEL_SYSROOT_DIR="$GITHUB_WORKSPACE/bpf-sysroot" \
            cargo test --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }} \
            --target "${{ matrix.platform.target }}"

      - name: Report disk usage
        if: ${{ always() }}
        uses: ./bpf-linker/.github/actions/report-disk-usage
