name: CI

on:
  push:

  pull_request:

  schedule:
    - cron: 00 4 * * *

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  llvm:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/llvm.yml

  lint-stable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rust-src

      - name: Run clippy
        run: cargo clippy --features llvm-22,no-llvm-linking --all-targets --workspace -- --deny warnings

  lint-nightly:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, rust-src

      - name: Check formatting
        run: cargo fmt --all -- --check

  build:
    permissions:
      contents: read
      packages: read
    runs-on: ${{ matrix.platform.os }}
    # We work with two git repositories in this workflow:
    #
    # - bpf-linker
    # - aya (for integration tests)
    #
    # Cargo searches for `.cargo` directories recursively in all parent
    # directories. Therefore, nesting different Rust projects with their own
    # `.cargo/config.toml` files in the same hierarchy (one nested in another)
    # causes cargo to read and merge both configurations.
    #
    # To avoid that, we clone both repositories in separate directories inside
    # the workspace.
    defaults:
      run:
        working-directory: bpf-linker
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - rust: 1.90.0
            llvm: 20
            exclude-features: default,llvm-19,llvm-21,llvm-22,rust-llvm-19,rust-llvm-21,rust-llvm-22
          - rust: stable
            llvm: 21
            exclude-features: default,llvm-19,llvm-20,llvm-22,rust-llvm-19,rust-llvm-20,rust-llvm-22
          - rust: beta
            llvm: 21
            exclude-features: default,llvm-20,llvm-22,rust-llvm-20,rust-llvm-22
          - rust: nightly
            llvm: 22
            exclude-features: llvm-20,llvm-21,rust-llvm-20,rust-llvm-21
        platform:
          - os: macos-latest
            target: aarch64-apple-darwin
            cargo: cargo
          - os: macos-15-intel
            target: x86_64-apple-darwin
            cargo: cargo
          # We don't use ubuntu-latest because we care about the apt packages available.
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            cargo: cargo
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-musl
            cross-arch: x86_64
            cargo: x86_64-linux-musl-cargo
            runner: x86_64-linux-musl-run
          - os: ubuntu-22.04-arm
            target: aarch64-unknown-linux-gnu
            cargo: cargo
          - os: ubuntu-22.04-arm
            target: aarch64-unknown-linux-musl
            cross-arch: aarch64
            cargo: aarch64-linux-musl-cargo
            runner: aarch64-linux-musl-run
    name: target=${{ matrix.platform.target }} rustc=${{ matrix.toolchain.rust }} llvm=${{ matrix.toolchain.llvm }}
    needs: llvm

    env:
      RUST_BACKTRACE: full
      # Features that have to be included for dynamic linking.
      LLVM_FEATURES_DYNAMIC: llvm-${{ matrix.toolchain.llvm }}
      # Features that have to be included for static linking.
      LLVM_FEATURES_STATIC: llvm-${{ matrix.toolchain.llvm }},llvm-link-static
      # Features that have to be excluded when running `cargo hack --feature-powerset`
      # and intending to link dynamically.
      LLVM_EXCLUDE_FEATURES_DYNAMIC: llvm-link-static,no-llvm-linking

    steps:
      - uses: actions/checkout@v6
        with:
          path: bpf-linker

      - name: Install Rust ${{ matrix.toolchain.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain.rust }}
          targets: ${{ matrix.platform.target }}
          components: rust-src

      - name: Add clang to PATH
        if: runner.os == 'Linux'
        # ubuntu-22.04 comes with clang 13-15[0]; support for signed and 64bit
        # enum values was added in clang 15[1] which isn't in `$PATH`.
        #
        # [0] https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
        #
        # [1] https://github.com/llvm/llvm-project/commit/dc1c43d
        run: echo /usr/lib/llvm-15/bin >> $GITHUB_PATH

      - name: Prepare sysroot
        if: matrix.platform.cross-arch
        run: |
          set -euxo pipefail
          sudo apt update
          sudo apt -y install bubblewrap
          ./ci/prepare-musl-sysroot.sh \
            ${{ matrix.platform.cross-arch }} \
            sysroot \
            ${{ matrix.toolchain.rust }} >> $GITHUB_ENV
          echo "$(pwd)/ci" >> $GITHUB_PATH

      - name: Enforce dynamic linking
        run: echo "RUSTFLAGS=-C target-feature=-crt-static" >> $GITHUB_ENV

      - name: Check (default features, no system LLVM)
        run: ${{ matrix.platform.cargo }} check

      - name: Build (default features, no system LLVM)
        run: ${{ matrix.platform.cargo }} build

      - name: Install btfdump
        if: ${{ !matrix.platform.cross-arch }}
        run: cargo install btfdump

      - uses: oras-project/setup-oras@v1

      - name: Login to ghcr.io
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euxo pipefail
          oras login ghcr.io --username "${{ github.actor }}" --password-stdin <<< "$GH_TOKEN"

      - name: Restore LLVM from ghcr.io
        run: |
          set -euxo pipefail
          oras pull "ghcr.io/${{ github.repository_owner }}/llvm:${{ matrix.toolchain.llvm }}-${{ matrix.platform.target }}"
          # Make sure LLVM is available from the current directory, so
          # bubblewrap is able to access it. See the `ci/*-run` scripts.
          LLVM_INSTALL_DIR="$(pwd)/llvm-install"
          mkdir -p "$LLVM_INSTALL_DIR"
          tar --zstd -xf llvm-install.tar.zst -C "$LLVM_INSTALL_DIR"
          rm -f llvm-install.tar.zst
          echo "${LLVM_INSTALL_DIR}/bin" >> $GITHUB_PATH
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            DYLIB_ENV_VAR=LD_LIBRARY_PATH
          elif [[ "$RUNNER_OS" == "macOS" ]]; then
            DYLIB_ENV_VAR=DYLD_LIBRARY_PATH
          fi
          echo "${DYLIB_ENV_VAR}=${LLVM_INSTALL_DIR}/lib" >> $GITHUB_ENV

      # llvm-sys discovers link flags at build script time; these are cached by cargo. The cached
      # flags may be incorrect when the cache is reused across LLVM versions.
      - name: Bust llvm-sys cache
        run: |
          set -euxo pipefail
          ${{ matrix.platform.cargo }} clean -p llvm-sys
          ${{ matrix.platform.cargo }} clean -p llvm-sys --release

      - uses: taiki-e/install-action@cargo-hack

      - name: Check (dynamic linking, feature powerset)
        run: |
          ${{ matrix.platform.cargo }} hack check --feature-powerset --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      - name: Build (dynamic linking, feature powerset)
        run: |
          ${{ matrix.platform.cargo }} hack build --feature-powerset --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      # Toolchains provided by rustup include standard library artifacts
      # only for Tier 1 targets, which do not include BPF targets.
      #
      # The default workaround is to use the `rustc-build-sysroot` crate to
      # build a custom sysroot with the required BPF standard library before
      # running compiler tests.
      #
      # `RUSTC_BOOTSTRAP` is needed to use `rustc-build-sysroot` on stable Rust.
      - name: Test (sysroot built on demand, dynamic linking)
        run: |
          RUSTC_BOOTSTRAP=1 ${{ matrix.platform.cargo }} hack test --feature-powerset \
            --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      # To make things easier for package maintainers, the step of building a
      # custom sysroot can be skipped by setting the `BPFEL_SYSROOT_DIR`
      # environment variable to the path of the prebuilt BPF sysroot.
      #
      # Test this configuration by prebuilding the BPF standard library
      # manually.
      #
      # `RUSTC_BOOTSTRAP` is needed to make `xtask build-std` work on stable
      # Rust.
      - name: Build BPF standard library
        run: |
          set -euxo pipefail

          # In case of cross-compiling, wrap the rustc invocation with a runner.
          RUNNER_CMD="${{ matrix.platform.runner || '' }}"
          RUSTC_CMD=(rustc)
          if [ -n "$RUNNER_CMD" ]; then
            RUSTC_CMD=($RUNNER_CMD rustc)
          fi
          RUSTC_SRC="$("${RUSTC_CMD[@]}" --print sysroot)/lib/rustlib/src/rust/library"
          BPFEL_SYSROOT_DIR="${{ github.workspace }}/bpf-sysroot"
          RUSTC_BOOTSTRAP=1 ${{ matrix.platform.cargo }} xtask build-std \
            --rustc-src "$RUSTC_SRC" \
            --sysroot-dir "$BPFEL_SYSROOT_DIR" \
            --target bpfel-unknown-none

      - name: Test (prebuilt BPF standard libary, dynamic linking)
        run: |
          BPFEL_SYSROOT_DIR="${{ github.workspace }}/bpf-sysroot" \
            ${{ matrix.platform.cargo }} hack test --feature-powerset --exclude-features \
            ${{ env.LLVM_EXCLUDE_FEATURES_DYNAMIC }},${{ matrix.toolchain.exclude-features }} \
            --features ${{ env.LLVM_FEATURES_DYNAMIC }}

      - uses: actions/checkout@v6
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        with:
          repository: aya-rs/aya
          path: aya
          submodules: recursive

      - name: Install (dynamic)
        if: ${{ endsWith(matrix.platform.target, 'gnu') && matrix.toolchain.rust == 'nightly' }}
        run: |
          ${{ matrix.platform.cargo }} install --path . --no-default-features --features \
            ${{ env.LLVM_FEATURES_DYNAMIC }}

      # Even though we test both types of linking (dynamic, static) for musl
      # targets, installing a static bpf-linker for Aya integration tests is
      # just easier.
      - name: Install (static)
        if: ${{ endsWith(matrix.platform.target, 'musl') && matrix.toolchain.rust == 'nightly' }}
        env:
          RUSTFLAGS: -C target-feature=+crt-static
        run: |
          ${{ matrix.platform.cargo }} install --path . --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }}

      - name: Install autopoint for aya integration tests
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        run: sudo apt -y install autopoint

      - name: Run aya integration tests
        if: runner.os == 'Linux' && matrix.toolchain.rust == 'nightly'
        working-directory: aya
        run: cargo xtask integration-test local

      - name: Install static libraries (macOS)
        if: runner.os == 'macOS'
        # macOS does not provide any static libraries. Homebrew does provide
        # them, but in custom paths that the system-wide clang is not aware of.
        # Point build.rs to them by setting environment variables.
        #
        # We install llvm package only for libc++.
        #
        # libLLVM from homebrew requires zstd.
        run: |
          set -euxo pipefail
          brew install llvm zlib zstd
          echo "CXXSTDLIB_PATH=$(brew --prefix llvm)/lib/c++" >> $GITHUB_ENV
          echo "LIBZSTD_PATH=$(brew --prefix zstd)/lib" >> $GITHUB_ENV
          echo "ZLIB_PATH=$(brew --prefix zlib)/lib" >> $GITHUB_ENV

      - name: Enforce static linking
        # Static linking with glibc is not supported.
        if: ${{ !endsWith(matrix.platform.target, 'gnu')}}
        run: echo "RUSTFLAGS=-C target-feature=+crt-static" >> $GITHUB_ENV

      - name: Check (static linking, single feature set)
        if: ${{ !endsWith(matrix.platform.target, 'gnu')}}
        # Static linking in combination with `cargo hack --feature-powerset`
        # (multiple builds) increases the disk usage massively. Therefore we
        # perform all static builds with only one fixed feature set.
        run: |
          ${{ matrix.platform.cargo }} check --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }}

      - name: Build (static linking, single feature set)
        if: ${{ !endsWith(matrix.platform.target, 'gnu')}}
        run: |
          ${{ matrix.platform.cargo }} build --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }}

      - name: Test (sysroot built on demand, static linking)
        if: ${{ !endsWith(matrix.platform.target, 'gnu')}}
        run: |
          RUSTC_BOOTSTRAP=1 ${{ matrix.platform.cargo }} test --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }}

      - name: Test (prebuilt BPF standard library, static linking)
        if: ${{ !endsWith(matrix.platform.target, 'gnu')}}
        run: |
          BPFEL_SYSROOT_DIR="${{ github.workspace }}/bpf-sysroot" \
            ${{ matrix.platform.cargo }} test --no-default-features --features \
            ${{ env.LLVM_FEATURES_STATIC }}

      - name: Report disk usage
        if: ${{ always() }}
        uses: ./bpf-linker/.github/actions/report-disk-usage
